.btn {
    padding: 4px 12px;
    border-radius: 10px;
    background-color: #59db0e;
    font: bold 0.8rem "Fira Sans", serif;
    margin: 2px 0px 0px 2px;
    cursor: not-allowed;
    user-select: none;
  }